<div class="checkout">
    <h1>Checkout</h1>
<div class="row">
<div class="col-sm-7">
    <h3>Add Shipping Address</h3>
    <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
        <input 
            type="text" 
            class="form-input"
            name="email"
            placeholder="Enter User Email"
            ngModel
            email
            #email="ngModel"
            required
            />
            <textarea 
            type="text" 
            class="form-input"
            name="address"
            placeholder="Enter User Adress"
            ngModel
            required
            ></textarea>
            <input 
            type="text" 
            class="form-input"
            name="contact"
            placeholder="Enter Contact Details"
            ngModel
            pattern="[0-9]{10}"
            required
            />
            <input 
            type="text" 
            class="form-input"
            name="city"
            placeholder="Enter City name"
            ngModel
            required
            />
            <input 
            type="text" 
            class="form-input"
            name="pincode"
            placeholder="Enter Pincode"
            ngModel
            pattern="[0-9]{6}"
            required
            />
            
            <button [disabled]="orderData.invalid" class="form-button">Order Now</button>

    </form>
</div>
<div class="col-sm-5">
    <h3>Total Amount: {{totalPrice}}</h3>
    <h4>Payment Method : <b>Pay on delivery</b></h4>
</div>
</div>
</div>